
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin: 0 auto;
    font-size: larger;
    display: flex;
    justify-content: center;
}

.sub {
    max-width: 300px;
    margin: 0 auto;
    font-size: large;

    display: flex;
    justify-content: center;
}

.sub2 {
    max-width: auto;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.box1 {
    display: inline-block;
    background-color: rgb(209, 209, 209);

    width: 200px;
    min-height: 300px;
    margin: 1em;
}

.box2 {
    font-size: large;
    display: flex;
    justify-content: center;
}

.circle{
    margin: auto;
    width: 120px;
    height: 100px;
    background-color: rgb(174, 122, 226);
    border: 1px solid #000;
    border-radius: 50%;
    position: relative;
    top: -50px;
}